<section class="neem-contact-op">
  <div class="iner">
    <div>
      <h1 class="title">Zoetwinkel - De Zoetste Winkel van Nederland</h1>
      <p class="text">
        Welkom op onze contactpagina! Wij zijn verheugd u te mogen verwelkomen
        in onze zoete wereld van lekkernijen. Als u vragen heeft over onze
        producten, speciale verzoeken of gewoon een praatje wilt maken, staan we
        klaar om u te helpen. Onze snoepwinkel biedt een breed assortiment aan
        heerlijke snoepjes, chocolade en andere zoetigheden die perfect zijn
        voor elke gelegenheid. Neem gerust contact met ons op via telefoon of
        e-mail, en we zullen ons best doen om uw ervaring bij ons zo zoet
        mogelijk te maken.
      </p>
    </div>
    <ul class="neem-style-list">
      <li class="neem-style">
        <svg class="svg-icon">
          <use href="img/icons.svg#icon-mail"></use>
        </svg>
        <h2 class="title-list">info@zoetwinkel.com</h2>
        <p class="text-list">
          U kunt ons een e-mail sturen naar het hierboven vermelde adres.
        </p>
      </li>
      <li class="neem-style">
        <svg class="svg-icon">
          <use href="img/icons.svg#icon-earth"></use>
        </svg>
        <h2 class="title-list">+31 20 876 1431</h2>
        <p class="text-list">
          Bel ons op het opgegeven nummer voor direct contact.
        </p>
      </li>
    </ul>
  </div>
</section>
