.section-hero {
  background-color: #f4f4f4;
  padding: 48px 0;
  margin-top: 60px;
}

.iner {
  min-width: 282px;
  max-width: 540px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .iner {
    min-width: 768px;
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .iner {
    min-width: 1200px;
    max-width: 1320px;
  }
}

@media only screen and (min-width: 768px) {
  .wrap-hero {
    display: flex;
    justify-content: space-between;
  }
}

.img-title-hero {
  object-fit: cover;
  margin: 0 auto;
  width: 283px;
  height: 384px;
  margin-bottom: 8px;
}

.title-hero {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 4px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .title-hero {
    font-size: 38px;
  }
}

.general-hero {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .general-hero {
    font-size: 28px;
  }
}

.text-hero {
  max-width: 553px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 48px;
}

.link-hero {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #02bb02;
  border: 1px solid transparent;
  padding: 16px 48px;
  font-size: 1rem;
  border-radius: 25px;
}

/* section-producten */

.section-producten {
  padding: 48px 0;
}

.wrap-title-producten {
  margin-bottom: 48px;
}

.title-producten {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .title-producten {
    font-size: 38px;
  }
}

.general-producten {
  max-width: 553px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .general-producten {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 48px;
  }
}

.list-producten {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-bottom: 18px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .list-producten {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 22px;
    margin-bottom: 24px;
  }
}

.list-style-producten {
  max-width: 173px;
  background-color: #f4f4f4;
  padding: 16px;
}

.img-producten {
  object-fit: cover;
  padding: 24px;
  display: block;

  margin-bottom: 8px;
  width: 125px;
  height: 172px;
}

.text-producten {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.ending-producten {
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-decoration-line: underline;
}

/* section-js */

.section-js {
  padding: 48px 0;
  background-color: #f4f4f4;
}

.title-js {
  font-size: 23px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .title-js {
    font-size: 38px;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-style {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #02bb02;
}

.new-comment {
  margin: 0px 35px;
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .new-comment {
    max-width: 890px;
    margin: 3px 35px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #fff;
    gap: 24px;
  }
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media only screen and (min-width: 768px) {
  .swiper-slide img {
    width: 102px;
    height: 169px;
  }

  .img-comment {
    width: 102px;
    height: 169px;
  }
}

.title-comment {
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .title-comment {
    font-size: 28px;
  }
}

.text-comment {
  font-size: 10px;
  text-align: left;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .text-comment {
    font-size: 18px;
  }
}

.text-second-comment {
  max-width: 695px;
  font-size: 10px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .text-second-comment {
    max-width: 695px;
    font-size: 16px;
    font-weight: 400;
  }
}

.swiper {
  position: relative;
  height: 235px;
}

.swiper-slide {
  width: 300px;
  background-color: #f4f4f4;
  z-index: 3;
}

.btn-prev {
  position: absolute;
  top: 103px;
  left: 1px;
  z-index: 100;
}

.btn-sw-l {
  width: 30px;
  height: 30px;
  fill: #02bb02;
}

.btn-next {
  position: absolute;
  top: 103px;
  right: 1px;
  z-index: 100;
}

.btn-sw-r {
  width: 30px;
  height: 30px;
  fill: #02bb02;
}

.swiper-horizontal .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  background-color: rgb(214, 214, 214);
}

.swiper-horizontal .swiper-scrollbar-drag {
  background: #02bb02;
}

/* .section-geschiedenis */

.section-geschiedenis {
  padding: 48px 0;
}

.img-geschiedenis {
  margin-bottom: 24px;
}

.title-geschiedenis {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .title-geschiedenis {
    font-size: 38px;
    margin-bottom: 24px;
  }
}

.text-geschiedenis {
  max-width: 896px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 48px;
}

.link-geschiedenis {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #02bb02;
  border: 1px solid transparent;
  padding: 16px 48px;
  font-size: 1rem;
  border-radius: 25px;
}

@media only screen and (min-width: 768px) {
  .link-geschiedenis {
    width: 323px;
  }
}
/* section-locatie */

.section-locatie {
  padding: 48px 0;
}

.wrap-title-locatie {
  margin-bottom: 24px;
}

.title-locatie {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .title-locatie {
    font-size: 38px;
    margin-bottom: 24px;
  }
}

.text-locatie {
  max-width: 896px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.list-locatie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.list-locatie-style {
  min-width: 263px;
  display: flex;
  align-items: center;
}

.svg-locatie {
  width: 20px;
  height: 20px;
  margin-right: 14px;
}

.img-locatie {
  margin-bottom: 24px;
}

.text-list-locatie {
  max-width: 896px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 48px;
}

/* last-section-home */

.last-section-home {
  padding: 48px 0;
  background-color: #f4f4f4;
}

.title-home {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title-home {
    font-size: 38px;
    margin-bottom: 24px;
  }
}

.wrap-img-home {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 48px;
}

.wrap-wrap-img {
  margin-top: 24px;
}

.text-home {
  max-width: 610px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.link-home {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #02bb02;
  border: 1px solid transparent;
  padding: 16px 48px;
  font-size: 1rem;
  border-radius: 25px;
}

.wrap-link {
  display: flex;
  justify-content: center;
}
