.iner {
  min-width: 280px;
  max-width: 540px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .iner {
    min-width: 768px;
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .iner {
    min-width: 1200px;
    max-width: 1320px;
  }
}

.privacybeleid {
  margin: 96px 0 48px 0;
}

.link-up {
}

.svg-up {
  position: fixed;
  right: 22px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  fill: #02bb02;
  opacity: 0.2;
}

@media only screen and (min-width: 1200px) {
  .svg-up {
    right: 240px;
  }
}

.svg-up:hover,
.svg-up:active,
.svg-up:focus use {
  opacity: 1;
  transform: scale(1.4);
}
