.iner {
  min-width: 280px;
  max-width: 540px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .iner {
    min-width: 768px;
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .iner {
    min-width: 1200px;
    max-width: 1320px;
  }
}

.privacybeleid {
  margin: 96px 0 48px 0;
}

.link-up {
}

.svg-up {
  position: fixed;
  right: 22px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  fill: #02bb02;
  opacity: 0.2;
}

@media only screen and (min-width: 1200px) {
  .svg-up {
    right: 240px;
  }
}

.svg-up:hover,
.svg-up:active,
.svg-up:focus use {
  opacity: 1;
  transform: scale(1.4);
}

.title-privacybeleid {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 400;
}

.data-text {
  font-size: 15px;
  box-sizing: border-box;
  font-weight: 400;
  margin-bottom: 16px;
}

.second-style-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.second-style-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.third-style-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 16px;
}

.list-style-type {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.span-list-style {
  font-size: 18px;
  font-weight: bold;
}

.text-list-style {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.fourth-style-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

.span-margin {
  display: block;
  margin-bottom: 16px;
}
